@use './styles/partials/colors' as *;
@use './styles/partials/typography' as *;
@use './styles/partials/mixins' as *;

html {
    font-size: 16px;
}

body {
    background-color: $color-light;
    font-family: $font-stack-lato;
}

* {
    box-sizing: border-box;
    &:first-letter {
        text-transform: capitalize;
    }
}

.main {
    // margin-left: 200px; /* Same as the width of the sidenav */
    width: 100%;
    height: 100vh;
    @include tablet {
        margin-left: 200px; /* Same as the width of the sidenav */
        width: calc(100% - 200px);
    }
}

a {
    text-decoration: none;
}