@use './styles/partials/colors' as *;
@use './styles/partials/typography' as *;

html {
    font-size: 16px;
}

body {
    background-color: $color-light;
    font-family: $font-stack-lato;
}

* {
    box-sizing: border-box;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    width: calc(100% - 200px);
    height: 100vh;
}

a {
    text-decoration: none;
}

// .app {
//     height: 8rem;
// }