@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.side-toggle {

    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    @include tablet {
        display: none;
    }
    
    &__icon {
        position: fixed;
        top: 0.5rem;
        right: 0.5rem;
        height: 2rem;
        padding: 0.5rem;
        z-index: 10;
        background-color: $color-light;
        border-radius: 50%;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
        box-sizing: content-box;
        transition: all 1s;
    

        &--active {
            @extend .side-toggle__icon;
            transform: rotate(90deg);
            transition: all 1s;
        }
    }

    &__title-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-strong-green;
        width: 100%;
    }

    &__logo {
        width: 3rem;
        padding: 0.5rem;
        height: auto;
        box-sizing: content-box;
        position: absolute;
        left: 0.5rem;
    }
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $color-light-green;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    box-shadow: 4px 0 4px rgba(0, 0, 0, 0.4);
    transition: all 1s;

    &__hide {
        @extend .sidenav;
        margin-left: -200px;
        transition: all 1s;
        box-shadow: none;
        @include tablet {
            margin-left: 0;
        }
    }

    &__title-logo {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    &__logo {
        width: 4rem;
        margin: 0.5rem;
        height: auto;
    }

    &__title {
        color: $color-light;
        margin: 0.5rem;
        text-transform: uppercase;
    }

    &__links-wrapper {
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__link {
        color: $color-light;
        margin: 0.5rem;
        text-transform: uppercase;
        transition: all 0.2s;

        &:hover {
            color: #f1f1f1;
            font-weight: bold;
        }
    }

    &__logout {
        @extend .sidenav__link;
        position: absolute;
        bottom: 5%;
        cursor: pointer;
    }

    &__nav-links-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: $color-light-green;
        position: relative;
        top: 15%;
    }

    &__nav-link {
        // padding: 1rem;
        color: $color-light;
    }
}

// @media screen and (max-height: 450px) {
//     .sidenav {padding-top: 15px;}
//     .sidenav a {font-size: 18px;}
// }