@use 'variables' as *;
@use 'colors' as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
}
  
@mixin tablet-1024 {
    @media screen and (min-width: $tablet-1024-breakpoint) {
      @content;
    }
}
  
@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
}

// flex styles

@mixin flexrow {
    display: flex;
    flex-direction: row;
}

@mixin flexcolumn {
    display: flex;
    flex-direction: column;
}

// mobile text styles

@mixin mobileheader {
    font-size: 1.75rem;
    line-height: 2.25rem;
}

@mixin mobilesub {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

@mixin mobilelargebody {
    font-size: 0.938rem;
    line-height: 1.625rem;
}

@mixin mobilemedbody {
    font-size: 0.813rem;
    line-height: 1.25rem;
}

@mixin mobilesmallbody {
    font-size: 0.688rem;
    line-height: 1rem;
}

// desktop and tablet text styles

@mixin pageheader {
    font-size: 2rem;
    line-height: 2.5rem;
}

@mixin subheader {
    font-size: 1.5rem;
    line-height: 2rem;
}

@mixin largebodystyles {
    font-size: 1rem;
    line-height: 1.75rem;
}

@mixin medbodystyles {
    font-size: 0.875rem;
    line-height: 1.375rem;
}

@mixin smallbodystyles {
    font-size: 0.75rem;
    line-height: 1.125rem;
}

@mixin formpadding {
    padding-left: 1rem;
    padding-right: 1rem;
}

@mixin header {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 600;

    @include tablet {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

@mixin largebody {
    font-size: 0.813rem;
    line-height: 1.25rem;

    @include tablet {
        font-size: 1rem;
        line-height: 1.75rem;
    }
}

@mixin medbody {
    font-size: 0.813rem;
    line-height: 1.25rem;
    font-weight: 400;

    @include tablet {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}

@mixin smallbody {
    font-size: 0.688rem;
    line-height: 1rem;

    @include tablet {
        font-size: 0.75rem;
        line-height: 1.125rem;
    }
}

// mixin for input style
@mixin inputstyle {
    border-radius: 50px;
    border-style: solid;
    border: 1px solid #BDC5D5;
    padding-left: 3.5%;
    width: 90%;

    &:focus {
        outline: none;
        border-color: #2e66e5;
    }
}

@mixin inputsmallheight {
    height: 2.5em;
}

// @mixin smallinputdropdown {
//     background: url(../../assets/icons/arrow_drop_down-24px.svg) no-repeat;
//     background-position: right;
//     background-position-x: 96.5%;
//     margin-bottom: 8%
// }

// @mixin activeinput {
//     background: url(../../assets/icons/) no-repeat;
//     background-position: right;
//     background-position-x: 96.5%;
//     margin-bottom: 8%
// }

@mixin button($backgroundColor, $borderColor) {
    height: 2.2rem;
    border-radius: 50px;
    border: 1px solid $borderColor;
    width: 30%;
    background-color: $backgroundColor;
}

@mixin inputseparation {
    margin-bottom: 5%;
}

@mixin inputlargeheight {
    height: 2.6em;
}

@mixin instockbutton {
    padding-right: 18%;
    padding-left: 18%;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 0.7rem;
}

@mixin buttonstyle {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flexstart {
    display: flex;
    justify-content: flex-start;
}

@mixin flexbaseline {
    display: flex;
    align-items: baseline;
}