@use 'variables' as *;
@use 'colors' as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
}
  
@mixin tablet-1024 {
    @media screen and (min-width: $tablet-1024-breakpoint) {
      @content;
    }
}
  
@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
}

// mixin for input style
@mixin inputstyle {
    border-radius: 50px;
    border-style: solid;
    border: 1px solid #BDC5D5;
    padding-left: 3.5%;
    width: 90%;

    &:focus {
        outline: none;
        border-color: #2e66e5;
    }
}