$tablet-breakpoint: 768px;
$tablet-1024-breakpoint: 1024px;
$desktop-breakpoint: 1280px;

$spacing-mob: 1rem;
$spacing-tablet: 1.5rem;
$spacing-x-small: 0.5rem;

$margin-tablet: 2.25rem;
$margin-desktop: 10%;

$border-radius: 4px;