@use '../../styles/partials/colors' as *;

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $color-strong-green;

    &__container {
        width: 60%;
    }

    &__header {
        margin-left: 0.5rem;
    }

    &__target-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__target-text {
        font-size: 1.2rem;
    }

    &__weekly-target-wrapper {
        display: flex;
        align-items: center;
        // justify-content: space-around;
    }

    &__weekly-target {
        font-weight: 400;
        font-size: 2.5rem;
        margin: 0 2rem;
    }

    

    &__target-image {
        width: 75px;
        height: 75px;
    }

    &__columns-wrapper {
        width: 100%;
        display: flex;
    }

    &__column {
        width: 50%;
        margin: 0.5rem;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        color: $color-strong-green;
    }

    &__link {
        color: $color-strong-green;
    }

    &__text {
        margin: 0 0.5rem;
    }

    &__button {
        background-color: $color-strong-green;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        color: $color-light;
        padding: 0.5rem;
        border-radius: 4px;
        width: 8rem;
        margin: 0 0.5rem;
        transition: all 0.2s;
        position: relative;

        &:hover {
            // font-weight: 600;
            background-color: $color-light-green;
        }

        &:active {
            top: 0.1rem;
        }
    }
}