@use '../../styles/partials/colors' as *;
@use '../../styles/partials/keyframes' as *;
@use '../../styles/partials/mixins' as *;

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    color: $color-strong-green;
    padding-bottom: 4rem;
    @include tablet {
        height: 100%;
        margin-top: 0;
        padding-bottom: 0;
    }

    &__loading-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fadeout 2s;
    }

    &__loading {
        width: 300px;
        height: 300px;
        animation: fadein 1s;
    }

    &__container {
        width: 60%;
        animation: fadein 1s;
    }

    &__header {
        margin-left: 0.5rem;
    }

    &__target-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__target-text {
        font-size: 1.2rem;
    }

    &__weekly-target-wrapper {
        display: flex;
        align-items: center;
    }

    &__weekly-target {
        font-weight: 400;
        font-size: 2.5rem;
        margin: 0 2rem;
    }

    &__target-image {
        width: 75px;
        height: 75px;
    }

    &__columns-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
        }
    }

    &__column {
        margin: 0.5rem;
        width: 100%;
        @include tablet {
            width: 50%;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $color-strong-green;
        height: 4rem;
        @include tablet {
            flex-direction: row;
            height: auto;
        }
    }

    &__link {
        color: $color-strong-green;
    }

    &__text {
        margin: 0 0.5rem;
    }

    &__button {
        background-color: $color-strong-green;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        color: $color-light;
        padding: 0.5rem;
        border-radius: 4px;
        width: 8rem;
        margin: 0 0.5rem;
        transition: all 0.2s;
        position: relative;

        &:hover {
            background-color: $color-light-green;
        }

        &:active {
            top: 0.1rem;
        }
    }
}