@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;

.activity-page {
    display: flex;
    width: 100%;

    &__page-wrapper {
        width: 50%;
    }
}


.act-summary {
    margin: 2rem 2rem 2rem 1rem;
    border-radius: $border-radius;
    background-color: white;
    width: 50%;
    height: 28rem;
    display: flex;
    flex-direction: column;

    &__wrapper {
        overflow: hidden;
        // overflow-y: scroll;
    }
    
    &__header {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        background-color: $color-strong-green;
        display: flex;
        justify-content: space-between;
    }

    &__add-entry {
        margin-top: 1rem;
        width: 8rem;
        height: 3rem;
        align-self: flex-end;
    }
}

@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.5em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}
