@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/keyframes' as *;

.activity-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &__page-wrapper {
        width: 100%;
        height: 50%;
        animation: fadein 1s;
    }

    &__loading-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fadein 1s;
    }

    &__loading {
        width: 200px;
        height: 200px;
    }
}

.act-summary {
    margin: 1rem 2rem 2rem;
    color: $color-light;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $color-light-green;
    border-radius: $border-radius;
    height: 90%;

    &__left-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
    }

    &__title {
        text-transform: uppercase;
        margin: 0;
    }

    &__loading {
        color: $color-dark-green;
        margin: 2rem;
    }

    &__calendar-submit-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 430px;
        margin: 0;
        padding: 1rem 0;
        height: 220px;
        align-items: center;
        position: relative;
    }

    &__calendar-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__calendar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__calendar-text {
        margin: 0.5rem;
        font-size: 1.2rem;
    }

    &__add-entry {
        background-color: $color-light;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        color: $color-strong-green;
        padding: 0.5rem;
        border-radius: 4px;
        width: 8rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: all 0.2s;
        position: relative;

        &:hover {
            background-color: $color-strong-green;
            color: $color-light;
        }
        &:active {
            top: 0.1rem;
        }
    }

    &__login-prompt {
        position: absolute;
        bottom: -0.5rem;
        left: 6.5rem;
    }

    &__summary-list-container {
        height: 90%;
        width: 55%;
        background-color: $color-light;
        margin: 0 1rem 0 0;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        flex-grow: 1;
        overflow: hidden;
        color: $color-dark-green;
        position: relative;
    }

    &__submitted {
        position: absolute;
        bottom: 20%;
        left: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__link {
        color: $color-strong-green;
        font-weight: 600;
    }
}


